<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="false"
         bootstrap="./vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">

  <testsuites>
    <testsuite name="php-excel-plus Test Suite">
      <directory>./test/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>./src</directory>
    </whitelist>
  </filter>

</phpunit>